<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Cms" connectionString="Data Source=.\sqlexpress;Initial Catalog=StrixCmsSA;Integrated Security=True;multipleActiveResultSets=true;App=StrixPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="useNewsSummary" value="false" />
    <add key="secureFiles" value="false" />
    <add key="uploadFolder" value="Content/Uploads" />
    <add key="waterMarkImage" value="Content/Images/watermark.png" />
    <add key="thumbDirectory" value="Content/Thumbs" />
    <add key="allowedFileTypes" value="jpg,png,pdf,zip" />
    <add key="imageExtensions" value="bmp, emf, exif, gif, ico, icon, jpg, jpeg, png, tif, tiff, wmf" />
    <add key="videoExtensions" value="avi, mpg, mpeg, mp4" />
    <add key="audioExtensions" value="mp3, wav, ogg" />
    <add key="documentExtensions" value="pdf, doc, xls, ppt" />
  </appSettings>
</configuration>