<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mailTemplateFolder" value="Areas/Membership/Templates" />
    <add key="limitAuthenticationToBrowserSession" value="true" />
    <add key="useGroups" value="true" />
    <add key="usePermissions" value="true" />
    <add key="minRequiredPasswordLength" value="8" />
    <add key="minRequiredNonAlphanumericCharacters" value="1" />
    <add key="passwordHashIterations" value="1000" />
    <add key="maxInvalidPasswordAttempts" value="5" />
    <add key="passwordAttemptWindow" value="10" />
    <add key="verificationIdValidWindow" value="120" />
    <add key="allowUserRegistration" value="true" />
    <add key="autoApproveUsers" value="true" />
    <add key="useTerms" value="false" />
    <add key="useRegistrationComment" value="true" />
  </appSettings>
</configuration>